name: docker build and deployment

on:
  workflow_dispatch:
    inputs: 
      tag:
        description: version tag for docker image
        required: true
        default: 'latest'

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.2
      - name: build docker image
        run: docker build -t devdeepak07/python:latest .
      - name: docker login
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOCKEN }}
      - name: push docker image
        run: docker push devdeepak07/python:latest
        
  deploy-on-aws:
    needs: build-docker-image
    runs-on: ubuntu-latest
    steps:
    - name: dump secrets to a file
      run: echo "${{ secrets.SSH_KEY }}" > devops-tos.pem
    - name: list contents of devops-tos and set permissions
      run: cat devops-tos.pem && chmod 400 devops-tos.pem
    - name: login to aws server
      run: |
          ssh -o StrictHostKeyChecking=no -i devops-tos.pem ${{ vars.SSH_USER }}@${{ vars.SERVER_IP }} << 'ENDSSH'
              docker pull devdeepak07/python:latest
              docker run -d -p 5556:8000 devdeepak07/python:latest
          ENDSSH
    




